Tp Soap/Q2/ConsoleApp1/Connected Services/ServiceReference1/MonWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Consulterlesdisponibilites">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idAgence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mdpAgence" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="dateDebutReservation" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dateFinReservation" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="prixMax" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="nombrePersonneHébergés" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsulterlesdisponibilitesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsulterlesdisponibilitesResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Effectuerunereservation">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idAgence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mdp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idOffre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numeroCarte" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="dateExpiration" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="code" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EffectuerunereservationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EffectuerunereservationResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsulterlesdisponibilitesSoapIn">
    <wsdl:part name="parameters" element="tns:Consulterlesdisponibilites" />
  </wsdl:message>
  <wsdl:message name="ConsulterlesdisponibilitesSoapOut">
    <wsdl:part name="parameters" element="tns:ConsulterlesdisponibilitesResponse" />
  </wsdl:message>
  <wsdl:message name="EffectuerunereservationSoapIn">
    <wsdl:part name="parameters" element="tns:Effectuerunereservation" />
  </wsdl:message>
  <wsdl:message name="EffectuerunereservationSoapOut">
    <wsdl:part name="parameters" element="tns:EffectuerunereservationResponse" />
  </wsdl:message>
  <wsdl:portType name="MonWebServiceSoap">
    <wsdl:operation name="Consulterlesdisponibilites">
      <wsdl:input message="tns:ConsulterlesdisponibilitesSoapIn" />
      <wsdl:output message="tns:ConsulterlesdisponibilitesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Effectuerunereservation">
      <wsdl:input message="tns:EffectuerunereservationSoapIn" />
      <wsdl:output message="tns:EffectuerunereservationSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MonWebServiceSoap" type="tns:MonWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consulterlesdisponibilites">
      <soap:operation soapAction="http://tempuri.org/Consulterlesdisponibilites" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Effectuerunereservation">
      <soap:operation soapAction="http://tempuri.org/Effectuerunereservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="MonWebServiceSoap12" type="tns:MonWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Consulterlesdisponibilites">
      <soap12:operation soapAction="http://tempuri.org/Consulterlesdisponibilites" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Effectuerunereservation">
      <soap12:operation soapAction="http://tempuri.org/Effectuerunereservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MonWebService">
    <wsdl:port name="MonWebServiceSoap" binding="tns:MonWebServiceSoap">
      <soap:address location="https://localhost:44323/MonWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="MonWebServiceSoap12" binding="tns:MonWebServiceSoap12">
      <soap12:address location="https://localhost:44323/MonWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>